body{
background:#0f172a;
color:white;
text-align:center;
font-family:Arial;
}

.tool{
background:#1e293b;
padding:20px;
margin:20px;
border-radius:10px;
}
button{
padding:10px 20px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}
input{
padding:10px;
margin:10px;
}
